<div class="fb-login-button" data-show-faces="{{ showfaces }}" data-size="{{ size }}" data-scope="{{ scope }}" data-autologoutlink="{{ autologoutlink }}" data-width="{{ width }}" data-max-rows="{{ maxRows }}">
  {{ label }}
</div>
