<div class="fb-login-button" data-show-faces="{{ showFaces }}" data-size="{{ size }}" data-scope="{{ scope }}" data-autologoutlink="{{ autologoutlink }}" data-width="{{ width }}" data-max-rows="{{ maxRows }}"  data-onlogin="{{ onlogin }}">
  {{ label }}
</div>
